<html>
<head>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="boton">

    {{#if showButton}}
    <button class="home">Home</button>
    {{/if}}
    <input placeholder="Type genre filter..." type="text">
    <button class="search">Search</button>
</div>

<h1>{{pageTitle}}</h1>

{{#if games}}
<ul>
    {{#games}}
        <li><a href='/games/{{id}}'>{{title}}</a></li>
    {{/games}}
</ul>
    {{else}}
        <div class="nogames">No games found</div>
{{/if}}

<script src="/assets/main.js"></script>

</body>
</html>