a {
    font-weight: bolder;
    text-decoration: none;
    color: blue;
}

.botonbuscar {
    display: flex;
    flex-direction: row;
}

.botonhome {
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    list-style-type: none;
}